@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  color: #333e5a;
  min-height: 100%;
  margin: 0;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("/assets/Background.png");
}

main {
  flex-grow: 1;
}

.signin {
  max-width: 18rem;
  margin: 0 auto;
  margin-top: 10rem;
  background-color: #033305;
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: rgba(3,11,51,.7);
}

form > div {
  width: 100%;
  margin-bottom: 1em;
}
form > div > label {
  color: white;
  display: block;
  margin-bottom: 0.3em;
  font-family: "Poppins", sans-serif;
}
form > div > input {
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 0.4em;
  border-radius: 6px;
  border: 1px solid #333e5a;
}