body {
  font-family: Helvetica, Arial, sans-serif;
  color: #333e5a;
  min-height: 100%;
  margin: 0;
}
  
.noselect {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: horizontal;
  justify-content: space-between;
  padding: 4rem;
  background-image: url("../../assets/Background.png");
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  height: 36rem;
  margin-top: 2rem;
  background-color: #033305;
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: rgba(3,11,51,.7);
  padding: 1.5rem;
  width: 40%;
}

.iconImages {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 2rem;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  height: 35rem;
  margin-top: 2rem;
  background-color: #033305;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 1rem;
  background-color: rgba(150,192,255,.7);
}

.callButtons {
  flex: 1;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: center;
}
  
form > div {
  width: 100%;
  margin-bottom: 1em;
}
form > div > label {
  color: white;
  display: block;
  margin-bottom: 0.3em;
}
form > div > input {
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 0.4em;
  border-radius: 6px;
  border: 1px solid #333e5a;
}
